Repository boozt-platform/terraform-google-traffic-director: changes, and which lefthook commands are due for each by the changed paths.
All: terraform_fmt, terraform_validate, markdown-lint, yamllint

terraform_fmt:
  priority: 1
  tags:
  - terraform
  - lint
  run: task fmt:check

terraform_validate:
  priority: 2
  tags:
  - terraform
  - lint
  run: task validate

markdown-lint:
  priority: 4
  tags:
  - markdown
  - lint
  run: markdownlint --config .markdownlint.yaml {staged_files}

yamllint:
  priority: 5
  tags:
  - yaml
  - lint
  run: yamllint -c .yamllint.yaml {staged_files}

chore: update devcontainer and tooling configuration
  .checkov.yaml
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  mise.toml
Due: yamllint

chore: simplify Taskfile and update lint configuration
  .gitignore
  .lefthook.yaml
  .yamllint.yaml
  Taskfile.yaml
Due: yamllint

ci: update workflow with parallel jobs and checkov
  .github/workflows/ci.yml
Due: yamllint

feat(examples): enhance complete example with Envoy client
  examples/complete/client_startup.sh
  examples/complete/main.tf
  examples/complete/outputs.tf
  examples/complete/startup.sh
  examples/complete/terraform.tfvars.example
Due: terraform_fmt, terraform_validate

docs: add prerequisites section for required GCP APIs
  README.md
Due: markdown-lint

docs: update CONTRIBUTING with development environment and test requirements
  docs/CONTRIBUTING.md
Due: markdown-lint

fix: pin checkov version to fix CI installation
  mise.toml
Due: none

fix: pin checkov exact version
  mise.toml
Due: none

ci: add GITHUB_TOKEN to mise-action to avoid rate limiting
  .github/workflows/ci.yml
Due: yamllint

fix: use checkov-action in CI and pip in devcontainer
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
  mise.toml
Due: yamllint

fix: disable lockfile in terraform-docs to fix CI
  .terraform-docs.yml
  README.md
Due: markdown-lint, yamllint

docs: use GitHub source format in README examples
  README.md
Due: markdown-lint

fix: extend Google provider version constraint to < 8.0.0
  versions.tf
Due: terraform_fmt, terraform_validate

docs: update provider version in generated documentation
  README.md
Due: markdown-lint

ci: add docs check to pre-push hook
  .lefthook.yaml
Due: yamllint

feat: add option to disable forwarding rule creation
  main.tf
  outputs.tf
  tests/main.tftest.hcl
  variables.tf
Due: terraform_fmt, terraform_validate

docs: update README with create_forwarding_rule variable
  README.md
Due: markdown-lint

chore: add Claude Code config to devcontainer
  .devcontainer/devcontainer.json
  variables.tf
Due: terraform_fmt, terraform_validate

docs: simplify create_forwarding_rule variable description
  README.md
Due: markdown-lint

feat: add ip_address variable for forwarding rule
  main.tf
  variables.tf
Due: terraform_fmt, terraform_validate

docs: add ip_address variable to README
  README.md
Due: markdown-lint

docs: add client IAM permissions to prerequisites
  README.md
Due: markdown-lint

feat: add ip_address validation and improve variable descriptions
  tests/main.tftest.hcl
  tests/validation.tftest.hcl
  variables.tf
Due: terraform_fmt, terraform_validate

Path conditions:
  terraform_fmt: any of: *.tf
  terraform_validate: any of: *.tf
  markdown-lint: any of: *.md
  yamllint: any of: *.{yaml,yml}
